@font-face {
  font-family: "cinema";
  font-style: normal;
  src: url("static/fonts/Cinema.ttf");
  src: url("static/fonts/Cinema.ttf") format("truetype");

}

@font-face {
  font-family: "IranYekanFN";
  font-style: normal;
  src: url("static/fonts/iran_yekan_regular_num_bold.ttf");
  src: url("static/fonts/iran_yekan_regular_num_bold.ttf") format("truetype");

}

@font-face {
  font-family: "yekanBold";
  font-style: normal;
  src: url("static/fonts/Yekan-Bold.ttf");
  src: url("static/fonts/Yekan-Bold.ttf") format("truetype");

}

@font-face {
  font-family: "yekanNumRegular";
  font-style: normal;
  src: url("static/fonts/Yekan-Num-Regular.ttf");
  src: url("static/fonts/Yekan-Num-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "yekanRegular";
  font-style: normal;
  src: url("static/fonts/Yekan-Regular.ttf");
  src: url("static/fonts/Yekan-Regular.ttf") format("truetype");
}

