html,body{
margin :0px;
background-color: #f5f5f5;

}

.pointer{
    cursor: pointer;
}
.d-flex{display: flex;}
.ltr{direction:ltr;}
.v-label{
    right: 0px !important;;
    left: auto!important;
}
.height-20{height: 20px;}
 .v-label--active ,div .v-label.v-label--active.theme--light {
    transform: translateY(-4px) scale(0.75);
    right: 0px!important;
    top: -11px !important;;
    left: auto!important;
    position: absolute;
  }
   legend{
    right: 0px;
    position: absolute;
    top: -10px;
    height: 10px;
    background: #f5f5f5;
  }
  
  .login-page-component .v-label{
    right: 25px !important;;
    left: auto!important;
}
.login-page-component input{
  padding:0px 15px!important;
}
.login-page-component .v-text-field__slot{
  position: static!important;
}
.input-phone input{text-align: left;direction: ltr;}
.v-slide-group{
  direction: ltr;

}
.v-otp-input{max-width: 300px;}
.theme--light.v-otp-input .v-input .v-input__control .v-input__slot{background-color: unset!important;width: 50px;}
.v-slide-group__content{display: flex!important;flex-direction: row-reverse;}
.category-skeleton .v-skeleton-loader--tile .v-skeleton-loader__bone{
  margin-left: 5px!important;
}
.category-skeleton .v-skeleton-loader__list-item-avatar-three-line{
  border-bottom: 0.05rem solid #eeeeee;
  height: 80px;
  margin-bottom: 20px;
}
.category-skeleton .v-skeleton-loader__button{
  height: 30px!important;
  width: calc(100% - 20px);
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px!important;

}
.category-skeleton .v-skeleton-loader__avatar{
  width: 60px!important;height:60px!important;
  border-radius: 5px!important;
}


.product-skeleton-2 .v-skeleton-loader--tile .v-skeleton-loader__bone{
  margin-left: 5px!important;
}
.product-skeleton .v-skeleton-loader__sentences .v-skeleton-loader__bone{margin-right:5px;}
.product-skeleton .v-skeleton-loader__list-item-avatar-two-line{

  height: 70px;
  margin-bottom: 5px;
}
.product-skeleton .v-skeleton-loader__button{
  height: 30px!important;
  width: calc(100% - 20px);
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px!important;

}
.product-skeleton .v-skeleton-loader__avatar{
  width: 60px!important;height:60px!important;
  border-radius: 5px!important;
}
.product-skeleton .v-skeleton-loader__sentences{
  margin-top: -20px;
}
.product-skeleton  .v-skeleton-loader__sentences  .v-skeleton-loader__text:nth-child(1){
 max-width: 200px;
 width: 50%;
 
} 
.product-skeleton .v-skeleton-loader__sentences   .v-skeleton-loader__text:nth-child(2){
  max-width: 400px!important;
  float: unset!important;
  width:70% ;
  
 }
 .product-skeleton  .v-skeleton-loader__text:nth-child(2){
  max-width: 200px;
  float: left;
  width: 45%;
  margin-left: 20px!important;

}

  .product-skeleton  .v-skeleton-loader__text:nth-child(3){clear: both;
   clear: both;
    height: 0.05rem ;
    background-color: #eeeeee;
  }

  .slider-skeleton .v-skeleton-loader__image {
    height: 350px!important;
  }

  .category-home-skeleton {
    height: 80px;
    width: 60px;
  }
  .category-home-skeleton .v-skeleton-loader__image {
    height: 60px!important;
    width: 60!important;
    border-radius: 0.3rem!important;
    margin-bottom: 5px;
  }

  .category-home-skeleton .v-skeleton-loader__text {
    width: 60px!important;
    
    
  } 
  
  .v-tabs-slider{
    background-color:#fe5c67!important;;
}
.v-header .v-skeleton-loader{width: 200px;}
.v-header .v-skeleton-loader__card-heading{background-color: unset!important;}
.v-header .v-skeleton-loader__heading{height: 10px;width: 150px;}
.product-tab .v-slide-group__next , .product-tab .v-slide-group__prev {
background-color: #eeeeee;
}
.product-tab .v-tabs-bar__content{background-color: #ffffff;}
.v-dialog__container{display: block!important;}
.v-dialog:not(.v-dialog--fullscreen) {
  max-height: 100%!important;
}
.v-bottom-sheet.v-dialog.v-bottom-sheet--inset{
  max-width: 600px!important;
}
.leaflet-marker-pane img{
  position: relative;
}


.img-placeholder .v-image__image{
  filter: invert(99%) sepia(0%) saturate(3238%) hue-rotate(32deg) brightness(114%) contrast(87%);
}

.flex-header-container  .v-image__image{
  filter: invert(99%) sepia(0%) saturate(239%) hue-rotate(178deg) brightness(87%) contrast(103%);
}
.active-order .v-image__image{
  filter: invert(59%) sepia(34%) saturate(828%) hue-rotate(79deg) brightness(90%) contrast(89%);
}
.v-bottom-sheet.v-dialog {height:100%}
.w-100{width: 100%;}
.v-card--link:before{
  background-color: unset!important;
}
.v-ripple__animation--in {
  transition: unset !important;;
  opacity: 0!important;
}
.v-ripple__animation--out {
  transition: unset !important;;
  opacity: 0!important;
}
.color-60{
  color:#606060;
}
.color-8e{
  color:#8e8e8e;
}
.custom-icon-size{font-size: 1.6rem}
.custom-text-size{font-size: 0.9rem}
.product-tab .v-item-group{background-color: #ffffff!important;}
  @media screen and (max-width:600px){
    .slider-skeleton .v-skeleton-loader__image {
      height: 220px!important;
    }
    .v-slide-group__prev,.v-slide-group__next{display: none !important;}
    }

    .v-slide-group__wrapper {
      overflow-x: auto!important; /* Enables the horizontal scrollbar */
      /* Next lines hides scrollbar in different browsers for styling purposes */
      -ms-overflow-style: none!important; /* IE and Edge */
      scrollbar-width: none!important; /* Firefox */
    }
    .v-slide-group__wrapper::-webkit-scrollbar {
      display: none; /* Chrome opera and Safary */
      width: 0px;
      background: transparent;
    }
    html{
      
    }