html,body{
margin :0px;
background-color: #f6f6f6;
}
.pointer{
    cursor: pointer;
}

.ltr{direction:ltr;}
.v-label{
    right: 0px !important;;
    left: auto!important;
}
.height-20{height: 20px;}
 .v-label--active ,div .v-label.v-label--active.theme--light {
    transform: translateY(-4px) scale(0.75);
    right: 0px!important;
    top: -11px !important;;
    left: auto!important;
    position: absolute;
  }
   legend{
    right: 0px;
    position: absolute;
    top: -10px;
    height: 10px;
    background: #f6f6f6;
  }
  .login-page-component .v-label{
    right: 25px !important;;
    left: auto!important;
}
.login-page-component input{
  padding:0px 15px!important;
}
.login-page-component .v-text-field__slot{
  position: static!important;
}
.input-phone input{text-align: left;direction: ltr;}
.v-slide-group{
  direction: ltr;

}
.v-slide-group__content{flex-direction: row-reverse;}
.category-skeleton .v-skeleton-loader--tile .v-skeleton-loader__bone{
  margin-left: 5px!important;
}
.category-skeleton .v-skeleton-loader__list-item-avatar-three-line{
  border-bottom: 0.05rem solid #eeeeee;
  height: 80px;
  margin-bottom: 20px;
}
.category-skeleton .v-skeleton-loader__button{
  height: 30px!important;
  width: calc(100% - 20px);
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px!important;

}
.category-skeleton .v-skeleton-loader__avatar{
  width: 60px!important;height:60px!important;
  border-radius: 5px!important;
}


.product-skeleton-2 .v-skeleton-loader--tile .v-skeleton-loader__bone{
  margin-left: 5px!important;
}
.product-skeleton .v-skeleton-loader__list-item-avatar-two-line{

  height: 70px;
  margin-bottom: 5px;
}
.product-skeleton .v-skeleton-loader__button{
  height: 30px!important;
  width: calc(100% - 20px);
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px!important;

}
.product-skeleton .v-skeleton-loader__avatar{
  width: 60px!important;height:60px!important;
  border-radius: 5px!important;
}
.product-skeleton .v-skeleton-loader__sentences{
  margin-top: -20px;
}
.product-skeleton  .v-skeleton-loader__sentences  .v-skeleton-loader__text:nth-child(1){
 width: 200px;
 
} 
.product-skeleton .v-skeleton-loader__sentences   .v-skeleton-loader__text:nth-child(2){
  width: 400px!important;
  float: unset!important;
  
 }
 .product-skeleton  .v-skeleton-loader__text:nth-child(2){
  width: 200px;
  float: left; }

  .product-skeleton  .v-skeleton-loader__text:nth-child(3){clear: both;
   clear: both;
    height: 0.05rem ;
    background-color: #eeeeee;
  }

  .slider-skeleton .v-skeleton-loader__image {
    height: 350px!important;
  }

  .category-home-skeleton {
    height: 80px;
    width: 60px;
  }
  .category-home-skeleton .v-skeleton-loader__image {
    height: 60px!important;
    width: 60!important;
    border-radius: 0.3rem!important;
    margin-bottom: 5px;
  }

  .category-home-skeleton .v-skeleton-loader__text {
    width: 60px!important;
    
    
  } 
  
  .v-tabs-slider{
    background-color:#fe5c67!important;;
}
.product-tab .v-slide-group__next , .product-tab .v-slide-group__prev {
background-color: #eeeeee;
}
.product-tab .v-tabs-bar__content{background-color: #ffffff;}
.v-dialog__container{display: block!important;}
.v-dialog:not(.v-dialog--fullscreen) {
  max-height: 100%!important;
}
.v-bottom-sheet.v-dialog.v-bottom-sheet--inset{
  max-width: 600px!important;
}
.leaflet-marker-pane img{
  filter: invert(70%) sepia(74%) saturate(3730%) hue-rotate(320deg) brightness(94%) contrast(110%);
}
.img-placeholder .v-image__image{
  filter: invert(99%) sepia(0%) saturate(3238%) hue-rotate(32deg) brightness(114%) contrast(87%);
}
  @media screen and (max-width:600px){
    .slider-skeleton .v-skeleton-loader__image {
      height: 220px!important;
    }
    }

  
