html,body{
margin :0px;
}
.pointer{
    cursor: pointer;
}
.ltr{direction:ltr;}
.v-label{
    right: 0px !important;;
    left: auto!important;
}
 .v-label--active ,div .v-label.v-label--active.theme--light {
    transform: translateY(-4px) scale(0.75);
    right: -37px!important;
    top: -11px !important;;
    left: auto!important;
    position: absolute;
  }
   legend{
    right: 0px;
    position: absolute;
    top: -10px;
    height: 10px;
    background: #f6f6f6;
  }